body{
    background-color: #4e4e4e;
    color: white;
    font-family: 'Questrial';
    font-size: 1.2rem;
}

a {
    color: white;
}

a:hover{
    color: lightgray;
}

.titleBar{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: 'Titillium Web';
}

.titleBar::after{
    content: 'Dan Donnan';
}

.subtitleBar {
    width: 100%;
    text-align: center;
    font-family: 'Titillium Web';
    border-bottom: 2px solid white;
    padding-bottom: 1rem;
}

.subtitleBar::after {
    content: 'Programmer / Scripter';
}

.menuBar {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menuItem {
    display: inline;
    margin: 3rem;
    cursor: pointer;
}

.menuItem > a {
    text-decoration: none;
}

.menuItem.selected {
    text-decoration: underline dashed 15%;
}

.menuItem:hover {
    color: lightgray;
}

.burgerMenuIcon {
    position: absolute;
    top: 1.5rem;
    cursor: pointer;
}

.burgerMenuIconSize {
    font-size: xx-large !important;
}

.burgerMenuIcon:hover{
    color: lightgray;
}

.burgerMenu {
    font-size: 2rem;
    width: 200px;
    background-color: #4e4e4e;
    border-top: 2px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    left: 0;
    top: 5.1rem;
    z-index: 1;
}

.burgerMenuItem {
    margin-top: 1rem;
    margin-left: 1rem;
}

.mainContent {
    margin-top: 1rem;
    min-height: 80%;
}

.centerText {
    text-align: center;
}

.quarterWidth {
    width: 25%;
}

.fullWidth {
    width: 100%;
}

.bigText{
    font-size: 3rem;
}

.featuredButton {
    width: 300px;
    height: 200px;
}

.thumbnail {
    width: 30%;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.thumbnail:hover {
    opacity: 0.7;
}

.thumbnailBar {
    text-align: center;
}

.selectedItem {
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.projectSearch {
    height: 100%;
    font-size: xx-large;
    background-color: #4e4e4e;
    color: white;
    border-style: solid;
    border-color: white;
}

.project {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.projectImage {
    width: 300px;
    display: inline;
}

.projectText {
    display: inline-block;
    position: relative;
}

.projectTitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.projectPlatforms{
    font-style: italic;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.projectDetails{
    font-size: 1.2rem;
}

.projectVideo {
    width: 50%;
    height: 30%;
}

.missingContent {
    font-size: x-large;
}

.hidden {
    display: none;
}

.waffle {
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
}

.popupBackground{
    background: rgba(0, 0, 0, 0.315);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popupContent{
    background-color: #4e4e4e;
    color: white;
    border-radius: 10px;
    position: relative;
    left: 25%;
    top: 15%;
    width: 50%;
    height: 75%;
    overflow: auto;
    padding: 1rem;
    line-height: 1.3rem;
}

.internalLink {
    display: inline-flex;
    text-decoration: underline;
    cursor: pointer;
}

.internalLink:hover{
    color: lightgray;
}

.footer {
    text-align: center;
    width: 99%;
    margin-top: 1rem;
}

.footer::after{
    content: '© 2023 Dan Donnan'
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: #2f2f2f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #1f1f1f;
}

@media only screen and (max-width: 500px) {
    .mainContent{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .menuItem {
        margin: 0.5rem;
    }

    .waffle {
        width: 80%;
    }

    .popupContent{
        left: 6%;
        width: 80%;
    }

    .thumbnail {
        width: 100%;
    }

    .selectedItem {
        width: 100%;
    }

    .projectVideo {
        width: 100%;
    }
}